@import url("https://fonts.googleapis.com/css?family=Pathway+Gothic+One");
@import url("https://fonts.googleapis.com/css?family=Cabin");
body {
  background: black;
  color: white;
  font-family: "Cabin", sans-serif; }

h1 {
  font-size: 20px; }

h2 {
  display: block;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px; }

.card-head {
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  padding: 10px;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-right: 10px; }

.item-name h2 {
  margin: 0 20px;
  color: #feda4a;
  font-size: 20px;
  font-size: 20px; }

.item-name {
  display: flex;
  justify-content: center; }

.card {
  margin: 5px;
  border: 1px solid #feda4a;
  width: 230px;
  display: flex;
  flex-direction: column;
  background-color: #000024;
  font-size: 15px; }

.card-body {
  padding: 20px; }

ul.card-data {
  list-style-type: none;
  margin: 0 0 0 10px;
  padding: 0; }

li {
  font-size: 16px;
  color: gray; }

.favorite-star {
  width: 30px; }

.card-footer {
  display: flex;
  align-self: flex-end;
  justify-content: space-between; }

span.accent {
  color: white; }
