@import 'variable';

.card-head {
    display: -ms-flexbox;
    display: flex;
    height: 20px;
    padding: 10px;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-right: 10px;
}

.item-name h2 {
  margin: 0 20px;
  color: $accent-color;
  font-size: 20px;
  font-size: 20px;
}
.item-name {
    display: flex;
    justify-content: center;
}

.card {
    margin: 5px;
    border: 1px solid $accent-color;
    width: 230px;
    display: flex;
    flex-direction: column;
    background-color: #000024;
}

.card-body {
  padding: 20px;
}

ul.card-data {
  list-style-type: none;
  margin: 0 0 0 10px;
  padding: 0;
}


.favorite-star {
  width: 30px;
}

.card-footer {
  display: flex;
  align-self: flex-end;
  justify-content: space-between;
}
