@import url("https://fonts.googleapis.com/css?family=Pathway+Gothic+One");
@import url("https://fonts.googleapis.com/css?family=Cabin");
body {
  background: black;
  color: white;
  font-family: "Cabin", sans-serif; }

h1 {
  font-size: 20px; }

h2 {
  display: block;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px; }

button.compare-button {
  font-size: 15px;
  margin: 10px;
  padding: 10px 15px; }

button.compare-button:hover {
  background: #feda4a; }

.controls {
  display: flex;
  justify-content: center; }

.active {
  background: #feda4a; }
